.sqs-fullpage-shopping-cart-content .cart-container .subtotal {
  padding-right: 5.7em;
};

.collection-type-products.view-list #folderNav, .collection-type-products.view-list #categoryNav {
  margin-bottom: 1%;
};

#page {
  margin-top: 0;
  position: relative;
  margin-bottom: 2em;
};

.sqs-block-search {
  padding-bottom: 2.3em;
};


